<ion-header>
  <ion-toolbar>
    <ion-title>Galeria Nacional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    [zoom]="true"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    class="mySwiper"
  >
    <swiper-slide *ngFor="let slide of slides" (click)="toggleZoom($event)">
      <div class="swiper-zoom-container">
        <img [src]="slide.image" [alt]="slide.title">
      </div>
      <h2>{{ slide.title }}</h2>
      <p>{{ slide.description }}</p>
    </swiper-slide>
  </swiper-container>
</ion-content>







