ion-content {
  --background: #ffffff;
}

.swiper {
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    max-width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  h2 {
    position: absolute;
    bottom: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  p {
    position: absolute;
    bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
}

.swiper-zoom-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container-zoomed .swiper-button-next,
.swiper-container-zoomed .swiper-button-prev
.swiper-container-zoomed .swiper-pagination {
  display: none !important;
}